<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddi.newsapi.repository.UserKeywordMapper">

    <select id="findByUserUsername" resultType="com.ddi.newsapi.model.UserKeyword">
        SELECT id, username, keyword
        FROM user_keywords
        WHERE username = #{username}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_keywords (username, keyword)
        VALUES (#{username}, #{keyword})
    </insert>

    <delete id="deleteByUserUsername">
        DELETE FROM user_keywords
        WHERE username = #{username}
    </delete>

    <delete id="deleteByUserUsernameAndKeyword">
        DELETE FROM user_keywords
        WHERE username = #{username} AND keyword = #{keyword}
    </delete>

</mapper>